html { 
    background: url(https://auth.sorbonne-universite.fr/cas/themes/su/images/bg-1920-1080-max.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }